<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>branding-1</title>

  <link href="/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="style/style.css" rel="stylesheet" />
</head>

<body>
  <main id="content">
    <div class="container">
      <div class="row row-cols-auto mb-5 taste">
        <div class="col me-3">
          <h2 class="active"><b>일 맛</b></h2>
        </div>
        <div class="col me-3">
          <h2><b>놀 맛</b></h2>
        </div>
        <div class="col me-3">
          <h2><b>살 맛</b></h2>
        </div>
        <div class="col">
          <h2><b>다 맛</b></h2>
        </div>
      </div>
      <div class="row">
        <h4><b>대한민국 탄소중립 미래를 선도하는 지속성장</b></h4>
        <h4><b>다(多) 함께 뿌리내리는 균형발전</b></h4>
      </div>
      <hr class="mt-5 mb-5" />
      <div class="row g-5 mb-5">
        <div class="col">
          <h5 class="mb-4"><b>당진</b></h5>
          <p>수소도시 조성사업 마스터플랜을 수립하여 활력 있는 당진 경제를 구축합니다.
            수소경제 발전을 도모하여 일할 맛, 살맛 나는 당진 수소 모범도시를 조성합니다.</p>
        </div>
        <div class="col">
          <h5 class="mb-4"><b>서산</b></h5>
          <p>기존산업 기반 지역정주 인재와 고도화 특화인재를 양성하여 풍요로운 경제도시를 조성합니다.
            비전있는 희망도시로써 기회창출의 도시를 선도합니다.</p>
        </div>
      </div>
      <div class="row mb-5">
        <h6 class="mb-4 mt-3"><b>특화분야</b></h6>
        <div class="col justify-content-center text-center sf-box sf-side">
          <h5 class="mb-3"><span class="badge bg-dark">당진</span> <b>수소경제 전환</b></h5>
          <p>신재생에너지과 + 제철산업과(연계)</p>
        </div>
        <div class="col justify-content-center text-center sf-box sf-center">
          <h5 class="mb-3"><b>지역과 함께하는 신성대학</b></h5>
          <p>지역 기간산업 맞춤형 공학계열화</p>
        </div>
        <div class="col justify-content-center text-center sf-box sf-side">
          <h5 class="mb-3"><span class="badge bg-dark">서산</span> <b>석유화학산업 고도화</b></h5>
          <p>화학공학과 + 전기과(연계)</p>
        </div>
      </div>
      <div class="row">
        <div class="text-center mb-5 mt-5">
          <h4><b>신성대학교 지역 특화분야</b></h4>
          <h4><b>HIVE 학과</b></h4>
        </div>
        <div class="row mb-5">
          <div class="col-6">
            <div class="card">
              <img src="img/brd1-energy.png" class="card-img-top" alt="energy" />
              <div class="card-body ms-3 me-3">
                <h5 class="card-title mb-3"><b>신재생에너지과</b> <span
                    class="material-symbols-outlined arrow-icon">arrow_forward_ios</span></h5>
                <p class="card-text"><small>재생에너지 설비운용 전문가 양성, 수소산업 전환 인재양성유형 수립,
                    수소경제전환 맞춤 교육과정 운영, 수소경제전환 직무교육 교수법과
                    신재생에너지 산업 재직자를 재교육합니다.</small></p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <img src="img/brd1-chemi.png" class="card-img-top" alt="chemi" />
              <div class="card-body ms-3 me-3">
                <h5 class="card-title mb-3"><b>화학공학과</b> <span
                    class="material-symbols-outlined arrow-icon">arrow_forward_ios</span></h5>
                <p class="card-text"><small>대산(서산)석유화학산업단지 요청과 설비 운용 전문가 양성,
                    석유화학산업 고도화 과정 참여, 석유화학산업 고도화 관련 인재양성유형 수립과
                    교육과정을 운영합니다.</small></p>
              </div>
            </div>
          </div>
        </div>

      </div>
  </main>
</body>

</html>