<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>branding-3</title>

  <link href="/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" rel="stylesheet">
  <link href="style/style.css" rel="stylesheet" />
</head>

<body>
  <main id="content">
    <div class="container">
      <div class="row row-cols-auto mb-5 taste">
        <div class="col me-3">
          <h2 class="active txt-bd">일 맛</h2>
        </div>
        <div class="col me-3">
          <h2 class="txt-bd">놀 맛</h2>
        </div>
        <div class="col me-3">
          <h2 class="txt-bd">살 맛</h2>
        </div>
        <div class="col">
          <h2 class="txt-bd">다 맛</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h3 class="txt-bd">화학공학과</h3>
        </div>
        <div class="col-6 brd-btn-container">
          <button type="button" class="btn btn-outline-secondary text-dark">홈페이지
            <i class="bi bi-chevron-right"></i>
          </button>
        </div>
      </div>
      <hr class="mt-5 mb-5" />
      <div class="mb-5">
        <div class="d-flex justify-content-between v-container">
          <div></div>
          <div class="fs-5 txt-bd">
            학과비전
          </div>
          <div class="fs-5">
            지역 석유화학산업 맞춤형 교육과정 운영을 통한 우수 인재 양성
          </div>
          <div></div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-6">
          <div class="brd-sec-title">
            <p>교육목표</p>
          </div>
          <div class="brd-sec-text pe-5">
            <p>지역정주 석유화학산업 특화인력 배출, 특화분야 산업 고도화를 이해하는 관련 설비‧공정 운전자+신재생에너지 융합과정을 학습한 수소산업 클러스터에 적합한 전문기술인력 공급.</p>
          </div>
        </div>
        <div class="col-6">
          <div class="brd-sec-title">
            <p>인재상</p>
          </div>
          <div class="brd-sec-text">
            <p>올바른 인성을 갖춘 협업 중심 창의‧융합형 인재<br />
              지역 석유화학산업 맞춤형 현장실무역량을 갖춘 우수 인재</p>
          </div>
        </div>
      </div>
      <div class="energy-container">
        <div class="row brd-sec-box">
          <div class="col-5">
            <h3 class="txt-bd lh-lg">
              석유화학산업<br />
              교육과정 운영 전략
            </h3>
          </div>
          <div class="col-7">
            <div class="mb-5">
              <div class="brd-sec-title">
                <p>핵심직무</p>
              </div>
              <div class="brd-sec-text">
                <p>석유화학 공정설비 운전자직무 교과목 편성, <br />
                  산업체요구 수용 및 전공분야 국가기술자격 취득 노력. <br />
                  지역 석유화학 산업체 전문가 겸임교수 등 참여 현장 실무 중심 교육과정 운영. <br />
                  프로젝트 관련 수업을 재학생과 산업체 전문가 연계, 문제해결 능력 및 창의적
                  사고 능력 배양.</p>
              </div>
            </div>
            <div class="brd-sec-title">
              <p>특화 교육운영</p>
            </div>
            <div class="brd-sec-text">
              <table class="w-100">
                <tr>
                  <td class="txt-bd w-25">PBL 교과목 운영</td>
                  <td>산업현장 전문가와 함께하는 캡스톤디자인 프로그램 운영</td>
                </tr>
                <tr>
                  <td class="txt-bd">산업현장 교과목</td>
                  <td>산업현장의 실무역량 제고를 위한 현장 체험 활동 실시</td>
                </tr>
                <tr>
                  <td class="txt-bd">산학협력 교과목</td>
                  <td>산업체인사‧전임교원 융복합 산학협동강의</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>