<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
  
    <link href="/public/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="style/footer.css" rel="stylesheet" />
  </head>
  <body>
    <footer>
      <div class="footer-container">
        <div class="row mb-4">
          <div class="col">
            <span class="menu-title">하이브이</span>
            <ul class="list-unstyled">
              <li><a href="#" class="sub-menu-item">네 맛 브랜딩</a></li>
            </ul>
          </div>
          
          <div class="col">
            <span class="menu-title">일맛</span>
            <ul class="list-unstyled">
              <li><a href="#" class="sub-menu-item">신재생에너지과</a></li>
              <li><a href="#" class="sub-menu-item">화학공학과</a></li>
            </ul>
          </div>

          <div class="col">
            <span class="menu-title">놀맛</span>
            <ul class="list-unstyled">
              <li><a href="#" class="sub-menu-item">일반분야</a></li>
              <li><a href="#" class="sub-menu-item">특화분야</a></li>
            </ul>
          </div>

          <div class="col">
            <span class="menu-title">살맛</span>
            <ul class="list-unstyled">
              <li><a href="#" class="sub-menu-item">도시디자인</a></li>
              <li><a href="#" class="sub-menu-item">THE-Collabo</a></li>
            </ul>
          </div>

          <div class="col">
            <span class="menu-title">다맛</span>
            <ul class="list-unstyled">
              <li><a href="#" class="sub-menu-item">다 이해 Fair</a></li>
              <li><a href="#" class="sub-menu-item">격차Zero</a></li>
            </ul>
          </div>

          <div class="col">
            <span class="menu-title">오픈플랫폼</span>
            <ul class="list-unstyled">
              <li><a href="#" class="sub-menu-item">프로그램</a></li>
              <li><a href="#" class="sub-menu-item">강사</a></li>
            </ul>
          </div>

          <div class="col">
            <span class="menu-title">거버넌스</span>
            <ul class="list-unstyled">
              <li><a href="#" class="sub-menu-item">비전/목표</a></li>
              <li><a href="#" class="sub-menu-item">컨소시엄</a></li>
            </ul>
          </div>

          <div class="col">
            <span class="menu-title">프로그램</span>
            <ul class="list-unstyled">
              <li><a href="#" class="sub-menu-item">특화분야</a></li>
              <li><a href="#" class="sub-menu-item">일반분야</a></li>
              <li><a href="#" class="sub-menu-item">자율과제</a></li>
            </ul>
          </div>

          <div class="col">
            <span class="menu-title">관련기관</span>
            <ul class="list-unstyled">
              <li><a href="#" class="sub-menu-item">신성대학교</a></li>
              <li><a href="#" class="sub-menu-item">신성대평생교육원</a></li>
              <li><a href="#" class="sub-menu-item">당진배움나루</a></li>
              <li><a href="#" class="sub-menu-item">서산평생학습관</a></li>
            </ul>
          </div>
        </div>

        <div class="row mb-4">
          <div class="business-name">신성대학교 하이브 센터</div>
          <div class="business-details">(31801) 충남 당진시 정미면 대학로 1 본관2층 기획처 HiVE센터<br />
            사업추진팀 041-3501-028, 021<br />
            직업교육팀 041-3501-158, 153</div>
        </div>
        <div class="row">
          <span class="policy-title">개인정보 처리방침</span>
      </div>
      </div>
    </footer>
  </body>
</html>
