<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>governance-d</title>

  <link href="/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="style/style.css" rel="stylesheet" />
</head>

<body>
  <main id="content">
    <div class="container">
      <div class="row mb-4">
        <div class="col-6">
          <h2><b>당진</b></h2>
        </div>
        <div class="col-6 gd-dssu">
          <span class="active">D</span>
          <span>S</span>
          <span>SU</span>
        </div>
      </div>
      <div class="row">
        <div class="col-4 text-center">
          <img src="img/governance-d.png" class="img-fluid mb-4" alt="governance-d" />
          <button type="button" class="btn btn-outline-secondary text-dark">
            <span class="material-symbols-outlined gd-arrow-icon">
              arrow_back_ios
            </span>
          </button>
          <button type="button" class="btn btn-outline-secondary text-dark">전체 보기</button>
          <button type="button" class="btn btn-outline-secondary text-dark">
            <span class="material-symbols-outlined gd-arrow-icon">
              arrow_forward_ios
            </span>
          </button>
        </div>
        <div class="col-8">
          <div class="row">
            <h4 class="txt-bd">철강·금속소재 산업 플랫폼 도시</h4>
            <h4 class="txt-bd">수소도시 지정 등 수소클러스터 선도 도시</h4>
          </div>
          <hr class="mt-4 mb-4" />
          <div class="row mb-4">
            <p class="mb-1">강점 : 철강산업(주력) 중심 공업도시</p>
            <p class="mb-1">약점 : 1차 산업 중심 산업구조, 정주여건 미흡</p>
            <p class="mb-1">기회 : 수소도시 선정</p>
            <p class="mb-1">위협 : 주력산업 국제경쟁력 저하+성장세 둔화</p>
          </div>
          <div class="row mb-4">
            <div class="mb-1">
              <h5 class="txt-bd">도시구조</h5>
            </div>
            <div class="table-responsive mb-2">
              <table class="gd-table">
                <tr>
                  <th rowspan="4">당진시</th>
                  <th>연도</th>
                  <th>한국인</th>
                  <th>외국인</th>
                  <th>다문화</th>
                  <th>65세 이상</th>
                  <th>청년</th>
                  <th>고령화율 (%)</th>
                  <th>청년화율 (%)</th>
                </tr>
                <tr>
                  <td>2018</td>
                  <td>167,770</td>
                  <td>5,774</td>
                  <td>4,022</td>
                  <td>28,986</td>
                  <td>51,340</td>
                  <td>17.3</td>
                  <td>30.6</td>
                </tr>
                <tr>
                  <td>2019</td>
                  <td>167,042</td>
                  <td>5,901</td>
                  <td>5,152</td>
                  <td>29,933</td>
                  <td>49,760</td>
                  <td>17.9</td>
                  <td>29.7</td>
                </tr>
                <tr>
                  <td>2020</td>
                  <td>166,249</td>
                  <td>5,450</td>
                  <td>5,344</td>
                  <td>31,331</td>
                  <td>47,216</td>
                  <td>18.8</td>
                  <td>28.4</td>
                </tr>
              </table>
            </div>
            <div class="row">
              <p class="mb-1">인구성장 전체인구는 증가세, 정주환경·교육·문화여가 여건의 미흡으로 청년유출</p>
              <p class="mb-1">지리·산업 : 충남북부권 산업벨트의 핵신 산업도시, 대중국-경기도 해상·육상 물류의 관문</p>
              <p class="mb-1">인구·위기 : 인구성장 둔화와 지역소멸 진행중, 산업전환 혁신+주거여건 개선 요구 증대</p>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <h5><b>지자체</b></h5>
              <p><a href="https://www.dangjin.go.kr/kor.do">당진시청</a> <a href="https://sugang.dangjin.go.kr/">배움나루</a>
              </p>
            </div>
            <div class="row">
              <h5><b>유사기관</b></h5>
              <p><a href="https://www.cndje.go.kr/index.action">당진교육지원청</a> <a
                  href="https://dangjincci.korcham.net/front/user/main.do">당진상공회의소</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>