<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>governance-su</title>

  <link href="/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" rel="stylesheet">
  <link href="style/style.css" rel="stylesheet" />
</head>

<body>
  <main id="content">
    <div class="container">
      <div class="row mb-4">
        <div class="col-6">
          <h2 class="page-header">신성대학교</h2>
        </div>
        <div class="col-6 gd-dssu">
          <span>D</span>
          <span>S</span>
          <span class="active">SU</span>
        </div>
      </div>
      <div class="row">
        <div class="col-4 text-center">
          <img src="img/governance-su.png" class="img-fluid mb-4" alt="governance-d" />
          <button type="button" class="btn btn-outline-secondary text-dark">
            <i class="bi bi-chevron-left"></i>
          </button>
          <button type="button" class="btn btn-outline-secondary text-dark">전체 보기</button>
          <button type="button" class="btn btn-outline-secondary text-dark">
            <i class="bi bi-chevron-right"></i>
          </button>
        </div>
        <div class="col-8">
          <div class="row">
            <h4 class="txt-bd">기간산업 기반기술에 특화된 공학계열 중심 교육</h4>
            <h4 class="txt-bd">‘잘사는 삶'을 지향하는 웰니스(보건·예체능) 교육</h4>
          </div>
          <hr class="mt-4 mb-4" />
          <div class="row mb-4">
            <p class="mb-1">강점 : 철강산업(주력) 중심 공업도시</p>
            <p class="mb-1">약점 : 1차 산업 중심 산업구조, 정주여건 미흡</p>
            <p class="mb-1">기회 : 수소도시 선정</p>
            <p class="mb-1">위협 : 주력산업 국제경쟁력 저하+성장세 둔화</p>
          </div>
          <div class="row">
            <div class="row">
              <h5 class="txt-bd">신성대학교</h5>
              <p><a href="https://www.shinsung.ac.kr/main.aspx">신성대학교</a>
                 <a href="https://www.academyinfo.go.kr/pubinfo/pubinfo1600/doInit.do?schlId=0000502">대학정보공시</a>
                 <a href="https://lifeedu.shinsung.ac.kr/">평생교육원</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>