<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>main</title>

  <link href="/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="style/style.css" rel="stylesheet" />
</head>

<body>
  <main id="content">
    <div class="container">
      <div class="row mb-4">
        <div class="col-6">
          <h1 class="page-header">DSSU, 네-맛 브랜딩</h1>
          <h5 class="sub-page-header">DSSU와 함께 잘사는 도시로(Dosi-ro)</h5>
        </div>
        <div class="col-6 btn-container">
          <button type="button" class="btn btn-outline-secondary btn-lg text-dark">오픈 플랫폼
            <span class="material-symbols-outlined arrow-icon">
              arrow_forward_ios
            </span>
        </div>
      </div>
      <div class="brd-list">
        <div class="row mb-4">
          <div class="col-6">
            <div class="card overflow-hidden cd-hover">
              <img src="img/main-row1-col1.png" class="card-img bg-img" alt="Left Top Image">
              <div class="card-img-overlay mt-4 ms-4">
                <h1 class="card-title"><b>일 맛</b></h1>
                <h1 class="card-title mb-4">일하고 싶은 도시</h1>
                <p class="card-text ct-card-text">에너지산업&전환특화정주인력양성 수소경제 전환 및<br />
                  석유화학산업 고도화 맞춤 전문기술인력</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card overflow-hidden cd-hover">
              <img src="img/main-row1-col2.png" class="card-img bg-img" alt="Right Top Image">
              <div class="card-img-overlay mt-4 ms-4">
                <h1 class="card-title"><b>놀 맛</b></h1>
                <h1 class="card-title mb-4">할 게 많은 도시</h1>
                <p class="card-text ct-card-text">Fun한, 생애전주기 평생직업교육 Design 직무(재)교육,<br />
                  전문자격 교육, 전문창업 교육, 리터러시 교육</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-6">
            <div class="card overflow-hidden cd-hover">
              <img src="img/main-row2-col1.png" class="card-img bg-img" alt="Left Bottom Image">
              <div class="card-img-overlay mt-4 ms-4">
                <h1 class="card-title"><b>살 맛</b></h1>
                <h1 class="card-title mb-4">살고 싶은 도시</h1>
                <p class="card-text ct-card-text">살고 싶은! 지역 정주 활성화, 지역 맛깔 도시디자인,<br />
                  지역상생Lab, 지역-대학 축제, THE Collabo</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card overflow-hidden cd-hover">
              <img src="img/main-row2-col2.png" class="card-img bg-img" alt="Right Bottom Image">
              <div class="card-img-overlay mt-4 ms-4">
                <h1 class="card-title"><b>다 맛</b></h1>
                <h1 class="card-title mb-4">다 잘사는 도시</h1>
                <p class="card-text ct-card-text">격차 Zero, 소외 Zero 지역사회 공헌 다문화·외국문화 상호존중,<br />
                  중고교 진로체험, 산업체 종사자 번아웃 돌봄</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>