<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>open-platform</title>

  <link href="/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" rel="stylesheet">
  <link href="style/style.css" rel="stylesheet" />
</head>

<body>
  <main id="content">
    <div class="container">
      <div class="row mb-4">
        <h1 class="page-header">오픈플랫폼</h1>
      </div>
      <div class="row mb-5">
        <div class="border border-secondary p-3 rounded-pill w-75">
          <form method="get" action="#">
            <input type="text" class="ms-4 border-0 p-0 w-75 fs-4" placeholder="찾고싶은 프로그램 키워드를 입력해주세요">
            <button type="submit" class="border-0 bg-transparent">
              <i class="bi bi-search fs-4"></i>
            </button>
          </form>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <h4 class="txt-bd">최신 프로그램</h4>
        </div>
        <div class="col-6 text-end">
          <button type="button" class="btn text-dark">전체 보기
            <i class="bi bi-chevron-right"></i>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-4 g-4 mb-5">
        <div class="col">
          <div class="card">
            <img src="img/program-sample1.png" class="card-img-top" alt="program-sample1">
            <div class="card-body">
              <div class="card-title" style="height: 50px">
                <h6 class="txt-bd">전기기능사 과정</h6>
              </div>
              <div class="card-text">
                <table class="w-100">
                  <tr>
                    <td class="txt-bd">기간</td>
                    <td class="text-end">23.10.14~23.12.16</td>
                  </tr>
                  <tr>
                    <td class="txt-bd">시간</td>
                    <td class="text-end">토 13:00~17:00</td>
                  </tr>
                  <tr>
                    <td class="txt-bd">모집인원</td>
                    <td class="text-end">15명</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="img/program-sample2.png" class="card-img-top" alt="program-sample1">
            <div class="card-body">
              <div class="card-title" style="height: 50px">
                <h6 class="txt-bd">석유화학 산업의 이해 과정</h6>
              </div>
              <div class="card-text">
                <table class="w-100">
                  <tr>
                    <td class="txt-bd">기간</td>
                    <td class="text-end">23.10.21~24.01.27</td>
                  </tr>
                  <tr>
                    <td class="txt-bd">시간</td>
                    <td class="text-end">토 09:00~11:00</td>
                  </tr>
                  <tr>
                    <td class="txt-bd">모집인원</td>
                    <td class="text-end">20명</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="img/program-sample3.png" class="card-img-top" alt="program-sample1">
            <div class="card-body">
              <div class="card-title" style="height: 50px">
                <h6 class="txt-bd">수소에너지 생산설비 윤영 자격교육 (일반용접) 과정</h6>
              </div>
              <div class="card-text">
                <table class="w-100">
                  <tr>
                    <td class="txt-bd">기간</td>
                    <td class="text-end">23.10.12~20.12.18</td>
                  </tr>
                  <tr>
                    <td class="txt-bd">시간</td>
                    <td class="text-end">목 18:00~21:00</td>
                  </tr>
                  <tr>
                    <td class="txt-bd">모집인원</td>
                    <td class="text-end">20명</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="img/program-sample4.png" class="card-img-top" alt="program-sample1">
            <div class="card-body">
              <div class="card-title" style="height: 50px">
                <h6 class="txt-bd">수소에너지 안전관리 교육 (가스기능사 자격 취득) 과정</h6>
              </div>
              <div class="card-text">
                <table class="w-100">
                  <tr>
                    <td class="txt-bd">기간</td>
                    <td class="text-end">23.10.12~23.12.18</td>
                  </tr>
                  <tr>
                    <td class="txt-bd">시간</td>
                    <td class="text-end">목 18:30~21:30</td>
                  </tr>
                  <tr>
                    <td class="txt-bd">모집인원</td>
                    <td class="text-end">20명</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
        <h4 class="txt-bd">강사진</h4>
        </div>
        <div class="col-6 text-end">
          <button type="button" class="btn text-dark">전체 보기
            <i class="bi bi-chevron-right"></i>
        </div>
      </div>
      <div class="row row-cols-auto mb-5 g-5">
        <div class="col">
          <img src="img/profile-img.png" class="img-fluid mb-3" alt="profile-img" />
          <div class="text-center">
            <h5 class="txt-bd">김별명</h5>
            <h6>헬스 전문</h6>
          </div>
        </div>
        <div class="col">
          <img src="img/profile-img.png" class="img-fluid mb-3" alt="profile-img" />
          <div class="text-center">
            <h5 class="txt-bd">김강사</h5>
            <h6>헬스 전문</h6>
          </div>
        </div>
        <div class="col">
          <img src="img/profile-img.png" class="img-fluid mb-3" alt="profile-img" />
          <div class="text-center">
            <h5 class="txt-bd">김강사</h5>
            <h6>헬스 전문</h6>
          </div>
        </div>
        <div class="col">
          <img src="img/profile-img.png" class="img-fluid mb-3" alt="profile-img" />
          <div class="text-center">
            <h5 class="txt-bd">김강사</h5>
            <h6>헬스 전문</h6>
          </div>
        </div>
        <div class="col">
          <img src="img/profile-img.png" class="img-fluid mb-3" alt="profile-img" />
          <div class="text-center">
            <h5 class="txt-bd">김강사</h5>
            <h6>헬스 전문</h6>
          </div>
        </div>
        <div class="col">
          <img src="img/profile-img.png" class="img-fluid mb-3" alt="profile-img" />
          <div class="text-center">
            <h5 class="txt-bd">김강사</h5>
            <h6>헬스 전문</h6>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <h4 class="txt-bd">주간 인기 키워드</h4>
      </div>
      <div class="row">
        <div class="col-6">
          <h5 class="txt-bd mb-4">수강생</h5>
          <div class="row row-cols-auto">
            <div class="col">
              <ol>
                <li>영양학</li>
                <li>건강푸드</li>
                <li>수소</li>
                <li>재활</li>
                <li>베이킹</li>
                <li>댄스</li>
                <li>석유화학</li>
                <li>스마트팜</li>
                <li>태양광</li>
                <li>헬스케어</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-6">
          <h5 class="txt-bd mb-4">강사진</h5>
          <div class="row row-cols-auto">
            <div class="col">
              <ol>
                <li>영양학</li>
                <li>건강푸드</li>
                <li>수소</li>
                <li>재활</li>
                <li>베이킹</li>
                <li>댄스</li>
                <li>석유화학</li>
                <li>스마트팜</li>
                <li>태양광</li>
                <li>헬스케어</li>
              </ol>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </main>
  <script src="/public/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>