<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>program-detail</title>

  <link href="/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="style/style.css" rel="stylesheet" />
</head>

<body>
  <main id="content">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="row">
            <h1 class="page-header">석유화학 산업의 이해 과정</h1>
            <h5 class="sub-page-header mb-5">석유화학 산업고도화 인재양성 아카데미</h5>
            <h6><span class="txt-bd me-3">최신 업데이트</span>2023.11.01
              <span class="txt-bd ms-5 me-3">참가</span>15/20명
              <span class="txt-bd ms-5 me-3">리뷰</span>12개
            </h6>
          </div>
          <hr class="mt-4 mb-4" />
          <div class="row row-cols-auto mb-4">
            <div class="col">
              <button type="button" class="btn btn-light btn-lg txt-bd">개요</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-white btn-lg txt-bd">수업계획서</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-white btn-lg txt-bd">공지사항</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-white btn-lg txt-bd">리뷰</button>
            </div>
          </div>
          <div class="row mb-4">
            <p class="txt-bd mb-3">강의 소개</p>
            <p class="mb-4">신성대학교에서 석유화학 산업의 이해 과정 강의를 진행합니다.
              석유화학 산업고도화 인재양성 아카데미(서산시)로써 상압증류/감압증류 공정과
              감압경유 유동층 촉매분해공정, 상압/강압 전사유수첨탈황 분해공정 등 재직자,
              직무전환 희망자와 함께 강의를 진행합니다</p>
            <p>강의 요약</p>
            <ul class="mb-3">
              <li>생활과 석유화학 산업</li>
              <li>석유화학 장치의 구성</li>
              <li>석유화학 생산 공정 및 제품</li>
            </ul>
            <p>등록 방법 : 041.350.1158 (전화상담)</p>
          </div>
          <div class="row">
            <p class="txt-bd mb-3">강사진</p>
            <p>김신성, 강신성, 오신성 강사님</p>
          </div>
          <div class="row">
            <img src="img/program-details-1.png" class="img-fluid" alt="program-details-1">
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="img/program-details-2.png" class="card-img-top" alt="program-details-2">
            <div class="card-body">
              <div class="card-title" style="height: 50px">
                <h5><b>석유화학 산업의 이해 과정</b></h5>
              </div>
              <div class="card-text">
                <table class="w-100 mb-4">
                  <tr>
                    <td><b>기간</b></td>
                    <td class="text-end">23.10.21~24.01.27</td>
                  </tr>
                  <tr>
                    <td><b>시간</b></td>
                    <td class="text-end">토 09:00~11:00</td>
                  </tr>
                  <tr>
                    <td><b>수업</b></td>
                    <td class="text-end">15주 45시간/과정</td>
                  </tr>
                  <tr>
                    <td><b>모집인원</b></td>
                    <td class="text-end">20명</td>
                  </tr>
                  <tr>
                    <td><b>대상자</b></td>
                    <td class="text-end">재직자, 직무전환 희망자</td>
                  </tr>
                  <tr>
                    <td><b>강사진</b></td>
                    <td class="text-end">김신성, 강신성, 오신성</td>
                  </tr>
                </table>
                <div class="d-grid gap-2">
                  <button class="btn btn-point-color p-3" type="button">강의 신청 하기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="/public/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>