.page-header {
    font-size: 42px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    margin-bottom: 25px;
    text-align: left;
}

.page-header-m-0 {
    font-size: 42px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}

.sub-page-header {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.txt-bd {
    font-weight: 600;
}

/*footer style*/

footer {
    background-color: #F8F9FB;
}

.footer-container {
    margin: 0 auto;
    padding: 42px 50px 42px 50px;
    color: rgba(0, 0, 0, 0.6);
}

.menu-title {
    font-size: 14px;
    line-height: 2.5;
}

.sub-menu-item {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: -0.1em;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.business-name {
    text-align: left;
    font-size: 14px;
    margin-bottom: 6px;
}

.business-details {
    text-align: left;
    font-size: 12px;
    margin-bottom: 2px;
}

.policy-title {
    font-size: 14px;
    text-align: left;
}


/*main page style*/

.btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
}

.cd-hover:hover .bg-img {
    transform: scale(1.01);
    transition: transform 0.5s ease;
}

.ct-card-text {
    color: rgb(0, 0, 0, 0.7);
}


/*branding-1 style*/

.taste h2 {
    color: rgb(0, 0, 0, 0.3);
}

.taste .active {
    color: #000;
}

.sf-box {
    border-radius: 100px;
    padding: 30px 52px 30px 52px;
}

.sf-side {
    background-color: rgba(216, 224, 232, 0.5);
    z-index: 0;
}

.sf-center {
    background-color: rgba(219, 232, 228, 0.5);
    margin-left: -5%;
    margin-right: -5%;
    z-index: 1;
}


/*governance-d style*/

.gd-dssu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    color: #868686;
}

.gd-dssu .active {
    color: black;
}

.gd-arrow-icon {
    font-size: 14px;
}

.gd-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.gd-table th,
.gd-table td {
    border: 1px solid black;
}

.gd-table th:first-child,
.gd-table th:last-child,
.gd-table td:last-child {
    border-left: none;
    border-right: none;
}


/*program style*/

.search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.program-field-select {
    background-color: #EFEFEF;
    border: 1.5px solid #000;
}


/*program-detail style*/

.btn-point-color {
    background-color: #0098AD;
    color: #FFF;
    font-weight: 600;
}

.btn-point-color:hover {
    color: #FFF;
}

/*branding-2 style*/

.brd-btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.v-container {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #DBE0E8;
}

.brd-sec-title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 24px;
}

.brd-sec-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 32.4px;
}

.energy-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.brd-sec-box {
    border: 1px solid gray;
    padding: 60px;
}

/*governance style*/
.gv-container {
    position: relative;
    text-align: center;
    color: #111111;
}

.gv-container .gv-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.gv-container .gv-text .letter {
    font-size: 17em;
    font-weight: 800;
    margin: -5px;
    cursor: pointer;
    transition: 0.3s;
}

.gv-container .gv-text .letter:hover {
    transform: translateY(-10%);
}

.gv-container .gv-text .letter.d:hover {
    color: #9747FF;
}

.gv-container .gv-text .letter.s:hover {
    color: #EF721C;
}

.gv-container .gv-text .letter.su:hover {
    color: #49DE73;
}

.gv-container img {
    width: 640px;
    height: 640px;
    animation: spin 13s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.click-the-dssu {
    writing-mode: tb;
    text-orientation: mixed;
    transform: rotate(180deg);
    align-items: flex-end;
}


.next-btn {
    display: flex;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 100px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}