/*footer style*/

footer {
    background-color: #F8F9FB;
}

.footer-container {
    margin: 0 auto;
    padding: 42px 50px 42px 50px;
    color: rgba(0, 0, 0, 0.6);
}

.menu-title {
    font-size: 14px;
    line-height: 2.5;
}

.sub-menu-item {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: -0.1em;
    text-decoration: none;
    color:rgba(0, 0, 0, 0.6);
}

.business-name {
    text-align: left;
    font-size: 14px;
    margin-bottom: 6px;
}

.business-details {
    text-align: left;
    font-size: 12px;
    margin-bottom: 2px;
}

.policy-title {
    font-size: 14px;
    text-align: left;
}


/*main page style*/

.btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
}

.arrow-icon {
    font-size: 18px;
}

.cd-hover:hover .bg-img {
    transform: scale(1.01);
    transition: transform 0.5s ease;
}

.ct-card-text {
    color: rgb(0, 0, 0, 0.7);
}


/*branding-1 style*/

.taste h2 {
    color: rgb(0, 0, 0, 0.3);
}

.taste .active {
    color: #000;
}

.sf-box {
    border-radius: 100px;
    padding: 30px 52px 30px 52px;
}

.sf-side {
    background-color: rgba(216, 224, 232, 0.5);
    z-index: 0;
}

.sf-center {
    background-color: rgba(219, 232, 228, 0.5);
    margin-left: -5%;
    margin-right: -5%;
    z-index: 1;
}


/*governance-d style*/

.gd-dssu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    color: #868686;
}

.gd-dssu .active {
    color: black;
}

.gd-arrow-icon {
    font-size: 14px;
}

.gd-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.gd-table th, .gd-table td {
    border: 1px solid black;
}

.gd-table th:first-child,
.gd-table th:last-child, 
.gd-table td:last-child {
      border-left: none;
      border-right: none;
}


/*program style*/

.search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.program-field-select {
    background-color: #EFEFEF;
    border: 1.5px solid #000;
}